body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f4f4;
}

/* .search-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

input {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 30px;
  width: 250px;
  font-size: 16px;
}

button {
  border: none;
  background-color: #557eed;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #331a7d;
}
.title {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #4facfe, #00f2fe);
  background-clip: text;
  color: transparent;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  margin-top: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
