<!-- Lista de paquetes paginados -->
<div *ngIf="displayedPackets.length > 0; else noPackets">
  <div *ngFor="let packet of displayedPackets; trackBy: trackByPacketId">
    <p><strong>Nombre:</strong> {{ packet.name }}</p>
    <p><strong>Descripción:</strong> {{ packet.description }}</p>
    <p><strong>Estatus:</strong> {{ packet.status }}</p>
  </div>
</div>

<!-- Mensaje si no hay paquetes -->
<ng-template #noPackets>
  <div>No hay paquetes disponibles</div>
</ng-template>

<!-- Paginador de Angular Material -->
<mat-paginator 
  [length]="totalItems"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="[3, 5, 10]"
  (page)="onPageChange($event)">
</mat-paginator>