
<ng-template #noUsers>
  <div>No hay usuarios disponibles</div>
</ng-template>
<div class="usuario-lista">
  <div *ngIf="usersList.length > 0; else noUsers">
    <table class="table">
      <tbody>
        <tr *ngFor="let usuario of displayedUsers" [ngClass]="{'bg-red': !usuario.available}" >
          <td>
            <input type="checkbox" [checked]="usuario.seleccionado" (change)="toggleSeleccion(usuario)" />
          </td>
          <td >
            <p>Username del usuario: {{ usuario.name }}</p>
            <p>Teléfono del usuario: {{ usuario.phone }}</p>
            <p>Email del usuario: {{ usuario.email }}</p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  
</div>

<div>
  <a class="button delete-button" (click)="confirmarEliminacion()">Eliminar Usuarios Seleccionados</a>
  <a class="button deactivate-button" (click)="desactivarUsuarios()">Desactivar Usuarios Seleccionados</a>
</div>

<ng-template #noUsers>
  <div>No hay usuarios disponibles</div>
</ng-template>

<mat-paginator 
  [length]="totalItems"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="[3, 5, 10]"
  (page)="onPageChange($event)">
</mat-paginator>


