<ng-template #noUsers>
  <div>No hay usuarios disponibles</div>
</ng-template>
<div class="usuario-lista">
  <div *ngIf="usersList.length > 0; else noUsers">
    <table class="table">
      <tbody>
        <tr *ngFor="let usuario of displayedUsers" [class.bg-blue]="!usuario.available">
          <td class="checkbox-cell">
            <input type="checkbox" [checked]="usuario.seleccionado" (change)="toggleSeleccion(usuario)" />
          </td>
          <td class="user-info">
            <p>Username del usuario: {{ usuario.name }}</p>
            <p>Teléfono del usuario: {{ usuario.phone }}</p>
            <p>Email del usuario: {{ usuario.email }}</p>
          </td>
          <td>
            <!-- Botón para ver paquetes -->
            <button class="view-packages-button" (click)="verPaquetes(usuario)">Ver Paquetes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <a class="button delete-button" (click)="confirmarEliminacion()">Eliminar Usuarios Seleccionados</a>
  <a class="button deactivate-button" (click)="desactivarUsuarios()">Desactivar Usuarios Seleccionados</a>
</div>

<app-user-packages
  *ngIf="mostrarModal"
  [paquetes]="paquetesSeleccionados"
  (close)="cerrarModal()">
</app-user-packages>

<mat-paginator
  [length]="totalItems"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="[3, 5, 10]"
  (page)="onPageChange($event)">
</mat-paginator>
